body {
  margin: 0;
  /* margin-top: 80px; */
  padding-top: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Preferences Page */
.preference-container {
  /* height: 80vh; */
}
.All {
  margin: 10px;
  /* background-color: azure; */
  overflow-y: auto;
}
.preference-row {
  height: 100%;
}

.badge:empty {
  margin: 0 10px;
  float: right;
  width: 10px;
  height: 20px;
}

/* Preferences Page ends here */

/*  */
#__react-alert__ > div {
  margin-top: 40px;
}
#__react-alert__ span {
  text-transform: none;
  font-size: medium;
  font-family: "Rubik", sans-serif;
  color: black;
}
#__react-alert__ line {
  color: black !important;
}
#__react-alert__ > div > div > div {
  background-color: rgba(192, 214, 233, 0.7) !important;
}

/*  */

/*  */
.card {
  width: 18em;
  margin-left: 2px;
  margin-bottom: 20px;
}
.card img {
  /* height: 100%; */
  height: 16em;
  width: 100%;
}

/*  */

@media screen and (max-width: 991px) {
  .nav-bar li button {
    margin-top: 10px;
  }
}

.navbar {
  background-color: #eae7e7 !important;
}

li button {
  background-color: #eae7e7 !important;
  border: none;
}

.preference-form .col-6 {
  width: 40% !important;
}

.row svg {
  display: block;
  margin: auto;
}

/* Error Page */

/* Error page ends */
.select-preference-tag button {
  position: relative;
  left: 50px;
}
